<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome" [(ngModel)]="product.proNome" name="proNome">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Preço de Custo (R$)" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Preço de Venda (R$)" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Descrição" [(ngModel)]="product.proDescricao" name="proDescricao">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Quantidade no Estoque" [(ngModel)]="product.proQuantidadeEstoque" name="proQuantidadeEstoque">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Status" [(ngModel)]="product.proStatus" name="proStatus">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Marca" [(ngModel)]="product.proMarca" name="proMarca">
        </mat-form-field>
    </form>

    <div class="button-container">
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    </div>

</mat-card>
