.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: #000000;
    background-color: #ffffff;
}

.home .subtitle{
    font-size: 1.1rem;
    color: #000000;
    background-color: #ffffff;
}
