<mat-card>
    <mat-card-title>Novo fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="fornecedor.nome" name="mome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="C.N.P.J" [(ngModel)]="fornecedor.cnpj" name="cnpj">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.razaoSocial" name="razaoSocial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.nomeFantasia" name="nomeFantasia">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createFornecedor()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
