<mat-card>
    <mat-card-title>Novo Fornecedor</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia" required>
        </mat-form-field>
    </form>

    <div class="button-container">
    <button mat-raised-button (click)="createFornecedor()" color="primary">
        Salvar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>
</mat-card>