table{ /* Estilo para a tabela */
    width: 100%; /* Definindo a largura da tabela como 100% */
}

.edit > i{ /* Estilo para o ícone de edição */
    color: #26d98e;
}

.delete > i{ /* Estilo para o ícone de exclusão */
    color: #ce1717;
}