.header {
    display: flex; /* Utiliza o modelo de layout flexível para alinhar os itens dentro do cabeçalho */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    background-color: #cccccc; /* Define a cor de fundo do cabeçalho */
}

.header a {
    display: flex; /* Utiliza o modelo de layout flexível para os links dentro do cabeçalho */
    align-items: center; /* Alinha os itens dos links verticalmente ao centro */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.header .logo {
    max-height: 32px; /* Define a altura máxima da logo para 32 pixels, mantendo a proporção */
}

.header .title-group {
    padding-left: 25px; /* Adiciona um espaço à esquerda do grupo de título */
}

.header .title-group i {
    padding-right: 5px; /* Adiciona um espaço à direita do ícone dentro do grupo de título */
}