<mat-toolbar class="header" met-elevation-z4>
    <!-- Toolbar principal que contém o cabeçalho, com uma elevação de sombra -->
    <span class="Space"> <!-- Grupo que contém o título e ícone -->
        <a> <!-- Link que pode ser usado para navegação, mas não possui um destino definido -->
            <i class="material-icons"> <!-- Ícone do Material Design -->
                 <!-- Nome do ícone que representa "home" -->
            </i>
            <!-- Texto que aparece ao lado do ícone -->
        </a>
    </span>
    <span>
        <a routerLink="/"> <!-- Link que redireciona para a página inicial -->
            <img class="logo" src="assets/img/chave-de-fenda.png" alt="logo"> <!-- Imagem do logo do SENAI -->
        </a>
    </span>
    
    <span class="title-group"> <!-- Grupo que contém o título e ícone -->
        <a> <!-- Link que pode ser usado para navegação, mas não possui um destino definido -->
            <i class="material-icons"> <!-- Ícone do Material Design -->
                home <!-- Nome do ícone que representa "home" -->
            </i>
            Inicio <!-- Texto que aparece ao lado do ícone -->
        </a>
    </span>
</mat-toolbar>

