<mat-card>

    <mat-card-title>Excluir cliente</mat-card-title>

    <form>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome" [(ngModel)] = "cliente.cliNome" name="cliNome" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="CPF" [(ngModel)] = "cliente.cliCpf" name="cliCpf" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" [(ngModel)] = "cliente.cliEmail" name="cliEmail" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Telefone" [(ngModel)] = "cliente.cliTelefone" name="cliTelefone" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Endereço" [(ngModel)] = "cliente.cliEndereco" name="cliEndereco" disabled>
        </mat-form-field>

    </form>
    <div class="button-container">

    <button mat-raised-button (click)="deleteCliente()" color="primary">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>


</mat-card>
