<mat-card>

    <mat-card-title>Excluir cliente</mat-card-title>

    <form #form="ngForm">

        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.cliNome" name="cliNome" required maxlength="100" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="###.###.###-##" [(ngModel)]="cliente.cliCpf" name="cliCpf" required maxlength="14" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.conEmail" name="conEmail" required email maxlength="100" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="(00) 00000-0000" [(ngModel)]="cliente.conCelular" name="conCelular" required disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone Comercial</mat-label>
            <input matInput placeholder="(00) 0000-0000" [(ngModel)]="cliente.conTelefoneComercial" name="conTelefoneComercial" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.endRua" name="endRua" required disabled>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.endNumero" name="endNumero" required disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.endCidade" name="endCidade" required disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput placeholder="#####-###" [(ngModel)]="cliente.endCep" name="endCep" required maxlength="10" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.endEstado" name="endEstado" required disabled>
        </mat-form-field>

    </form>
    <div class="button-container">

    <button id="botaoDeletClinete" mat-raised-button (click)="deleteCliente()" color="primary">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>


</mat-card>
