<!-- Toolbar fixo no topo -->
<mat-toolbar color="primary" class="app-toolbar">
  <span>Auto Peça</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- Menu dropdown dos três pontinhos -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="acao1()">Opção 1</button>
  <button mat-menu-item (click)="acao2()">Opção 2</button>
  <button mat-menu-item (click)="acao3()">Opção 3</button>
</mat-menu>

<!-- Container com sidebar e conteúdo -->
<mat-sidenav-container class="container" style="margin-top: 64px;">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i> Início
      </a>
      <a mat-list-item routerLink="/cliente">
        <i class="material-icons">account_circle</i> Cliente
      </a>
      <a mat-list-item routerLink="/products">
        <i class="material-icons">storefront</i> Produtos
      </a>
      <a mat-list-item routerLink="/fornecedores">
        <i class="material-icons">group_add</i> Fornecedores
      </a>
      <a mat-list-item routerLink="/formaPagamento">
        <i class="material-icons">local_atm</i> Pagamento
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content" style="padding: 20px;">
    <!-- Seus mini gráficos doughnut lado a lado -->
    <div class="mini-charts-container" style="display: flex; gap: 20px; justify-content: center; margin-bottom: 30px;">
      <div class="mini-chart" style="width: 120px; text-align: center;">
        <canvas baseChart [data]="vendasData" [type]="'doughnut'"></canvas>
        <p>Vendas</p>
      </div>
      <div class="mini-chart" style="width: 120px; text-align: center;">
        <canvas baseChart [data]="clientesData" [type]="'doughnut'"></canvas>
        <p>Clientes Cadastrados</p>
      </div>
      <div class="mini-chart" style="width: 120px; text-align: center;">
        <canvas baseChart [data]="estoqueData" [type]="'doughnut'"></canvas>
        <p>Estoque de Peças</p>
      </div>
    </div>

    <!-- Aqui você pode colocar o restante do conteúdo / router-outlet -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
