<mat-card>
    <mat-card-title>Atualizar Forma de Pagamento</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label> 
            <input matInput  [(ngModel)]="formaPagamento.fpgDescricao" name="fpgDescricao" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label> 
            <input matInput  [(ngModel)]="formaPagamento.fpgTipo" name="fpgTipo" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Taxa</mat-label> 
            <input matInput type="number" placeholder="Taxa" [(ngModel)]="formaPagamento.fpgTaxa" name="fpgTaxa" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Parcelas</mat-label>
            <input matInput  [(ngModel)]="formaPagamento.fpgParcelamento" name="fpgParcelamento" required>
        </mat-form-field>
    </form>

    <div class="button-container">

    <button mat-raised-button (click)="updateFormaPagamento()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    
</div>

</mat-card>
