<mat-card>

    <mat-card-title>Atualizar cliente</mat-card-title>

    <form>

        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label> 
            <input matInput  [(ngModel)] = "cliente.cliNome" name="cliNome">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="###.###.###-##" [(ngModel)] = "cliente.cliCpf" name="cliCpf">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="exemplo@gmail.com" [(ngModel)] = "cliente.cliEmail" name="cliEmail">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="(43)99999-9999" [(ngModel)] = "cliente.cliTelefone" name="cliTelefone">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Rua: exemplo, n°100" [(ngModel)] = "cliente.cliEndereco" name="cliEndereco">
        </mat-form-field>

    </form>

    <div class="button-container">
    <button mat-raised-button (click)="updateCliente()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>


</mat-card>
