form{
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content:flex-start; /* Espaça os botões */
    margin-top: 20px; /* Espaço acima dos botões */
    gap: 10px;
}

button{
    background-color: #114f96; 
    border: none; /* Sem borda */
    color: rgb(255, 255, 255); /* Texto branco */
    padding: 15px 32px;; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    display: table-cell; /* Permite definir largura e altura */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s; /* Transição suave */
    }
    
    button:hover {
    background-color: #1a0077; /* Azul mais escuro ao passar o mouse */
    }
    
    button:active {
    transform: scale(0.95); 
    }
    mat-card{
        box-shadow: none;
    }