<mat-card>
    <mat-card-title>Atualizar Fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia" required>
        </mat-form-field>
    </form>


    <div class="button-container">
    <button mat-raised-button (click)="updateFornecedor()" color="primary">
        Atualizar
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    </div>
</mat-card>
